
body {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color:#000000;
	text-decoration: none;
}

base,tbody {
	font-size: 12px;
}

p {
	font-size: 12px;
	font-family: Tahoma, Arial;
}

ul {
	padding: 0px 0px 0px 20px;
}



.xh2 {
	font-family: Tahoma, Arial;
	font-size: 24px;
	font-weight: normal;
	color:#3E6A8F;
	text-decoration: none;
	background-color: #FFFFFF;
	font-color:#3E6A8F;
}
